 

 

.navbar{

    background-color: rgb(20, 20, 20);
    height: 3rem;
    width: 97vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}
.logo{
    
    object-fit: cover;
    height: 3rem;
    width: 3rem;
}

.dexktopmenulistitem{
 
    margin: 1rem;
    cursor: pointer;
    transition: 0.4s ease all ;
    font-size: 22px;
    letter-spacing: 2px;

}
.dexktopmenulistitem:hover{
    color: blue;
    padding-bottom: 5px;
    border-bottom: 1px blue solid;
}
.active{
    color: blue;
    
    border-bottom: 1px blue solid;
}

.desktopmenubtn{
background: white ;
color: black;
border: none;
  display: flex;
  align-items: center;
  justify-content: center;
padding: 0 1rem;
border-radius: 20px;
font-size: 15px;
cursor: pointer;
 
 
}
.deskmenubtntaxt{transition: 0.5s ease all;}

.desktopmenubtn{
    font-size: larger;
    height: 3rem;
    width: 7rem;
    margin: 1rem;
    transition: 0.2s ease-in   ;
    overflow: hidden;
}
.desktopmenubtn>span{
    width: 0%;
    height: 0%;
    position: absolute;
     
  border-radius: 20px;
    background-color: rgb(0, 17, 255);
    z-index: 1;
transition:0.2s ;
}
.desktopmenubtn>p{z-index: 2;}
.desktopmenubtn:hover span{
    height: 3rem;
    width: 9rem;
   
}

.desktopmenubtn:hover p{color: white;}
 

 
 

/* navmenu */
.mobmenu{
    width: 3rem;
    height: auto;
display: none;
object-fit: cover;
 
}
.navmenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: 0;

    background: rgb(40, 40, 40);
    border-radius: 1rem;
    scale: 0;
    transition: 0.2s ease-in-out;

}
.listitem{
    font-size: medium;
    letter-spacing: 2px;
    color: white;
    padding: 0.5rem 2rem;
    margin: 0.2rem;
    background: rgb(30, 30, 30);
}
@media screen and (max-width: 880px) {
    .active{
        border-bottom: 3px solid blue;
    }
    .navbar{
        width: 90%;
        margin: 0;
        padding: 1rem ;
    }
    .mobmenu{
        display: flex;}

        .dexktopmenulistitem{
            display: none; 
        position: absolute;
        }
            .desktopmenubtn{
                display: none;
                position: absolute;
            }
}